<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/normalize.css">
    <link href="https://fonts.googleapis.com/css2?family=Amiri+Quran&display=swap" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
    <title>Ejercitacion</title>
</head>

<body>
    <article class="cont-1">
        <h2>Lorem</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde nobis iusto, natus facere incidunt repudiandae, sit a aliquid dolor reprehenderit deleniti expedita alias, consectetur cum numquam sed aliquam ab eveniet.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, quos! Suscipit vitae aliquam quam nisi atque sunt impedit, doloribus provident est blanditiis corrupti aliquid recusandae harum nobis temporibus maxime. Earum.</p>
    </article>
    <article class="cont-2">
        Soy un contenedor
    </article>
</body>

</html>