<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/normalize.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
    <title>Ejercitacion</title>
</head>

<body>

    <header id="header">
        <section class="seccion-1">
            <div class="logo">
                <img src="img/logo-mercado-liebre.svg" alt="Logo de Mercado Liebre">
            </div>
            <div>
                <form action="#" method="#" class="barra-de-busqueda">
                    <input type="text" name="Buscar" placeholder="Buscar productos, marcas y más">
                </form>
                <div class="icono">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
            </div>
            <div class="texto">
                <p><i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
        </section>
        <section class="seccion-2">
            <div class="menu">
                <a href="#"><i class="fas fa-bars"></i></a>
            </div>
            <nav class="navegacion">
                <ul class="sitio">
                    <li><a href="">Ofertas</a></li>
                    <li><a href="">Tiendas Oficiales</a></li>
                    <li><a href="">Vender</a></li>
                    <li><a href="">Ayuda</a></li>
                </ul>
                <ul class="usuario">
                    <li><a href="">Creá tu cuenta</a> <i class="fa-regular fa-id-card"></i></li>
                    <li><a href="">Ingresá</a> <i class="fa-solid fa-right-to-bracket"></i></li>
                    <li><a href="">Mis compras</a> <i class="fa-solid fa-basket-shopping"></i></li>
                </ul>
            </nav>
        </section>
    </header>

    <main>
        <form action="/crear-producto" method="POST" class="formulario-de-producto">
            <div class="control">
                <label for="" class="etiqueta">Nombre del producto:</label>
                <input type="text" name="nombre" class="nombre">
            </div>
            <div class="control">
                <label for="" class="etiqueta">Precio:</label>
                <input type="text" name="precio" class="precio">
            </div>
            <div class="control">
                <label for="" class="etiqueta">Categoria:</label>
                <select name="categoria" id="categoria">
                    <option value="hogar">Hogar</option>
                    <option value="electro">Electro</option>
                    <option value="indumentaria">Indumentaria</option>
                </select>
            </div>
            <div class="control">
                <label for="" class="etiqueta-radio">Esta en oferta:</label>
                <input type="radio" name="en-oferta">
            </div>
            <div class="control">
                <label for="" class="etiqueta">Descripcion:</label>
                <textarea name="descripcion" id="areaT" cols="30" rows="10"></textarea>
            </div>
            <div class="control">
                <button type="submit">Enviar</button>
                <button type="reset">Borrar</button>
            </div>
        </form>

    </main>
</body>

</html>