<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta link="css/styles.css" rel="stylesheet">
    <title>Ejercitacion</title>
</head>

<body>

    <header>

        <section>

            <div>
                <p><i></i>LOGO</p>
            </div>
            <div>
                <form action="input">
                    <input type="text" name="Buscar" placeholder="Buscar">
                </form>                
            </div>

        </section>

        <section>

            <div>
                <nav>
                    <ul>
                        <li><a href="#">Link1</a></li>
                        <li><a href="#">Link2</a></li>
                        <li><a href="#">Link3</a></li>
                        <li><a href="#">Link4</a></li>
                    </ul>
                </nav>
            </div>

        </section>

    </header>
    
    <main>

        <section>

            <article>
                <div>
                    <h2>Titular</h2>
                    <h5>Sub Titulo</h5>
                    <img src="img/foto.jpg" alt="Una foto">   
                </div>
                <div>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti sequi aut aperiam nam voluptatem repellat rerum non! Totam laboriosam qui magnam illum, et omnis. Maiores quia molestiae facere ipsum quibusdam!</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti sequi aut aperiam nam voluptatem repellat rerum non! Totam laboriosam qui magnam illum, et omnis. Maiores quia molestiae facere ipsum quibusdam!</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti sequi aut aperiam nam voluptatem repellat rerum non! Totam laboriosam qui magnam illum, et omnis. Maiores quia molestiae facere ipsum quibusdam!</p>
                </div>            
            </article>
            
        </section>

    </main>

    <footer>

        <section>

            <div>
                <i></i>                
            </div>
            <h3>Mensaje</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

        </section>

        <section>

                <nav>
                    <ul>
                        <li><a href="#">Link1</a></li>
                        <li><a href="#">Link2</a></li>
                        <li><a href="#">Link3</a></li>
                        <li><a href="#">Link4</a></li>
                    </ul>
                </nav>

        </section>

    </footer>

</body>

</html>