* {
    box-sizing: border-box;
}

body {
    font-family: 'roboto', sans-serif;
}

/*--------------HEADER---------------*/
#header {
    background-color: #eac926;
    padding: 20px;
}

/*-----------------IMAGEN-------------------*/
.logo {
    width: 180px;
}
.logo img {
    max-width: 100%;
}

/*------------------TEXTO---------------------*/
#header .texto {
    font-weight: 400;
    text-align: center;
}

/*----------------MENU-------------------*/
.menu a {
    text-decoration: none;
    color: #ffffff;
    background-color: #03264c;
    display: block;
    text-align: center;
    font-size: 18px;
    padding: 15px 0;
    border-radius: 8px;
    max-width: 50px;
    margin: auto;
}

/*--------------NAV------------------*/
.navegacion {
    display: none;
}
.navegacion ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.navegacion a {
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 5px 0;
    font-size: 17px;
}



/*----------------MEDIA-------------------*/
@media (min-width: 768px) {
    #header .seccion-1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .logo {
        width: 210px;
    }
    #header .texto {
        max-width: 350px;
        text-align: right;
    }
    .menu {
        display: none;
    }
    .navegacion {
        display: flex;
        justify-content: space-between;
    }
    .navegacion ul {
        display: flex;
    }
    .navegacion li {
        margin: 0 5px;
    }
}
@media (min-width: 1200px){
    .seccion-1, .navegacion {
        max-width: 1200px;
        margin: auto;
    }
    .logo {
        width: 250px;
    }
    #header .texto {
        max-width: none;
        text-align: right;
        font-size: 20px;
    }
    .navegacion li {
        margin: 0 10px;
    }
    .navegacion a {
        font-size: 19px;
    }
}